body{

margin:0;

background:#111;

color:white;

font-family:Arial;

text-align:center;

}

header{

padding:20px;

}

.logo{

width:180px;

}

nav a{

color:white;

text-decoration:none;

margin:20px;

font-size:20px;

}

.hero{

padding:80px;

}

.btn{

background:#ff6600;

padding:15px 30px;

color:white;

text-decoration:none;

border-radius:10px;

}

.product{

margin:30px;

}

.product img{

width:300px;

}